<div class="project-terms-media no-terms-caption">
	%%TERMIMAGE size="leon-thumb-418-304"%%
	<div class="hover-content row-format project-terms-caption">
		%%TERMNAME%%
		%%TERMPERMALINK%%
	</div>
</div>
