/* #Elements */
blockquote {
	color: $regular_text_color;
}
blockquote cite {
	color: $regular_link_color;
}
blockquote a:hover {
	color: $regular_link_color;
}

code {
	color: @darken( $regular_text_color, 15% );
	background: $invert_text_color;
}
